APP_NAME=ifiruled
APP_ENV=production
APP_DEBUG=false
APP_URL=https://ifiruled.world

# Database
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=if_i_ruled
DB_USERNAME=ifiruled_user
DB_PASSWORD=
DB_ROOT_PASSWORD=

# Laravel App Key (generate with php artisan key:generate)
APP_KEY=base64:qzm08zvpZH0rrb0hfMQVhmsQsq7iCkjGTJCQFbZeGOI=
